/* Imports */

@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

/* Default Colours */
:root {
  /* Grayscale */
  --white: #f5f5f5;
  --black: #18171b;

  /* Blue */
  --blue-300: #a1ccf0;
  --blue-600: #3182ce;
  --blue-700: #386c9e;
  --blue-900: #232d37;

  /* Khaki */
  --khaki-100: #d3caba;
  --khaki-300: #efb83d;
  --khaki-500: #cf8a00;

  /* Red */
  --red-200: #db5d5d;

  /* Cyan */
  --bluishCyan-100: #52b4ce;

  /* Green */
  --bluishGreen-100: #51bf78;

}

/* Default Settings */

html, body {
  height: 100%; 
  margin: 0;
  padding: 0;
}

html {
  background: var(--white);
  color: var(--black);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

body { 
  background: center / cover fixed no-repeat url("../img/deep0726-16bit.jpg");
}

h1 {
  max-inline-size: var(--size-header-3);
  color: var(--khaki-500);
}

p {
  max-inline-size: var(--size-content-2);
}

/* Header */
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 8vh;
  z-index: var(--layer-2);
  background: var(--white);
  color: var(--blue-700);
  box-shadow: var(--shadow-6);
}

.branding {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.branding img {

}

.rubrik h1, .rubrik h2 {
  margin: 0;
  padding: 0;
}

.rubrik h2 {
  font-size: 1em;
}

/* Main */

main {
  margin-block: 8vh 0;
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main * {
  flex: 1 0 auto; 
}


h4 {
  color: var(--blue-700);
  font-size: 2rem;
}

.ingress {
  background: var(--white);
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-block: 0 8rem;
  padding-block: 3rem;
}


.card {
  background: var(--white);
  margin-inline: 2rem;
  margin-block: 2rem;
  max-inline-size: var(--size-content-3);
  min-inline-size: 30vw;
  border-radius: var(--radius-2);
  padding: var(--size-fluid-3);
  box-shadow: var(--shadow-4);
}
.card:hover {
    box-shadow: var(--shadow-2);
}

.card iframe {
  width: 100%;
}

.card-row {
  display: flex; 
  flex-direction: row;
  justify-content: center;
  background: var(--blue-300);
}

footer {
  flex-shrink: 0;
  display: flex; 
  justify-content:space-around;
  align-items: center;
  background: var(--khaki-300);
  min-height: var(--size-fluid-6);
}
